<!-- Top Info Button -->
<div class="topbar">
    <a (click)="switch()">{{iTitle}}</a>
</div>
<!-- Page Head -->
<div style="text-align:center">
  <a href="http://www.jamesmete.com/chords">
      <h1>
        {{title}}
      </h1>
  </a>
</div>

<!-- Show Info component if Info button is pressed -->
<app-info *ngIf="!info"></app-info>

<!-- Main Chord Sheet component -->
<app-chord-box></app-chord-box>

<!-- Footer Copyright -->
<div style="text-align: center; opacity: 0.7">
    <a href="http://www.jamesmete.com">
        &copy; James Mete 2017
    </a>
</div>


